.list {
    margin: 0;
    padding: 0 20px 0 271px;
    list-style: none;
    width: 100%;
}

.list_item {
    overflow: hidden;
    width: 100%;
    margin: 0 0 20px;
}

.list_item__buy_section {
    padding: 20px 20px 25px;  
    text-align: center;
    width: 201px;
    border-right: 1px solid #ECEFF1;
    float: left;

    img {
        width: 75%;
        padding-bottom: 10px;
    }
}

.list_item__button {
    display: block;
    border: none;
    margin: 0;
    padding: 0;
    background: #FF6D00;
    box-shadow: 0 1px 0 0 #D64D08, 0 2px 1px 0 rgba(0,0,0,0.10);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 300;
    color: #FFFFFF;
    letter-spacing: 0;
    width: 160px;
    padding: 9px 0 6px;
    line-height: 21px;
    outline: none;
    cursor: pointer;

    &:hover {
        transition: all .15s linear;
        background: #FF8123;
        box-shadow: 0 1px 0 0 #F7661D, 0 1px 5px 0 rgba(0,0,0,0.25);
    }
}

.list_item__info_section {
    padding-top: 26px;
    position: relative;
    overflow: hidden;
}

.list_item__stops {
    width: 114px;
    border-bottom: 1px solid #D2D5D6;
    font-size: 10px;
    color: #8B9497;
    line-height: 25px;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -57px;
    top: 20px;

    img {
        position: absolute;
        right: 0;
        bottom: -7px;
        background: #fff;
        display: block;
        padding: 0 1px;
    }
}

.list_item__arrival_info, .list_item__departure_info {
    float: left;
    width: 50%;
    font-size: 12px;
    line-height: 18px;
}

.list_item__departure_info {
    padding-left: 24px;
}

.list_item__arrival_info {
    text-align: right;
    padding-right: 24px;
}

.list_item__time {
    font-size: 32px;
    letter-spacing: 0;
    line-height: 26px;
    font-weight: 300;
    padding-bottom: 10px;
}

.list_item__date {
    color: #8B9497;
}

@media (max-width: 856px) {
    .list {
        width: 90%;
        margin: 20px auto;
        padding: 0;
    }
}

@media (max-width: 620px) {
    .list_item__buy_section {
        float: none;
        border: none;
        margin: 0 auto;
    }

    .list_item__info_section {
        padding-top: 0;
        padding-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .list_item__stops {
        position: relative;
        top: 0;
        left: 0;
        margin: 0 auto 20px;
    }
}
