.input {
    &--checkbox {
        line-height: 17px;
        font-size: 13px;

        input {
            display: none;

            &:checked + label::before {
                border: 1px solid #3E9CE8;
                background-position-y: 50%;
            }
        }

        label {
            cursor: pointer;

            &::before {
                content: '';
                display: inline-block;
                vertical-align: middle;
                width: 17px;
                height: 17px;
                background: #FFFFFF;
                border: 1px solid #D3D5D6;
                border-radius: 3px;
                margin-right: 10px;
                background: #F2FDFF url('/images/tick.svg') 50% -200% no-repeat;
                transition: all .15s linear;
            }
        }
    }
}
