.filter {
    width: 232px;
    float: left;
    margin-left: 20px;

    &__panel {
        padding: 15px 0;
    }

    &__trigger {
        display: none;
    }

    &__title {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 0.5px;
        line-height: 19px;
        margin-bottom: 6px;
        padding: 0 15px;
    }

    .filter__only_button {
        display: inline-block;
        opacity: 0;
        transition: opacity .15s linear;
        background: none;
        border: none;
        font-size: 11px;
        color: #3E9CE8;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        cursor: pointer;
        float: right;
        outline: none;
        line-height: 17px;
        padding: 0;
    }

    .filter__checkbox {
        padding: 8px 15px;
        
        &:hover {
            background: #F1FCFF;

            .filter__only_button {
                opacity: 1;
            }
        }
    }

    .filter__select_all {
        line-height: 19px;

        label::before {
            width: 19px;
            height: 19px;
            margin-right: 8px;
        }
    }
}

@media (max-width: 856px) {
    .filter {
        float: none;
        margin: 0;
        position: fixed;
        top: 0;
        bottom: 0;
        z-index: 100;
        width: 100%;

        .filter__trigger {
            display: block;
            position: absolute;
            width: 40px;
            height: 40px;
            box-shadow: 0 1px 4px 0 rgba(91,137,164,0.25);
            top: 20px;
            right: 20px;
            background: #fff url('/images/filter.svg') center center no-repeat;
            background-size: 40%;
            z-index: 101;
            border-radius: 5px;
            cursor: pointer;
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(0,0,0, .3);
            opacity: 1;
            transition: opacity .3s linear, left 0s linear;
        }

        &__panel {
            border-radius: 0;
            height: 100%;
            width: 232px;
            max-width: 90%;
            position: relative;
            left: 0;
            transition: left .3s linear;
        }

        &.filter--hidden {
            &::before {
                opacity: 0;
                right: -100%;
                transition: opacity .3s linear, left 0s linear .3s;
            }

            .filter__panel {
                left: -100%;
            }
        }
    }
}
